# Code for extracting  frames from videos and cleaning them

In [79]:
import visvis
dirname = '/Users/kamakshibansal/UCL/PROJECT/test_original_data'
vols = imageio.mvolread(dirname, 'DICOM')

In [73]:
# print jpgfile.bits, jpgfile.size, jpgfile.format

In [82]:
import glob
import os,sys
from PIL import Image
from numpy import *
import Imageio

path = '/Users/kamakshibansal/UCL/PROJECT/original_data/*.avi'   
files= glob.glob(path) 
outpath = '/Users/kamakshibansal/UCL/PROJECT/original_data_frames/'
box1 = (234, 107, 412, 215)
box2 = (739, 108, 980, 215)
box3 = (853, 904, 1200,1000)
for file in files: 
    
#     print (file)
    vid = imageio.get_reader(file, 'ffmpeg')
#     fps = vid.get_meta_data()['fps']
    for i, im in enumerate(vid):
        img = Image.fromarray(im)
        
        #img = imageio.imwrite(file +'%i.jpg' %(i),im[:, :, :])
        #print(img.getdata())
        #print (im.shape)
        img.paste(0, box1)
        img.paste(0, box2)
        img.paste(0, box3)
        #plt.imshow(img)
        #plt.show()
        #print(file)
        filename = file[file.find('data/',)+5:file.find('.avi')]
        img.save(outpath+ filename+'_%i.jpg' %(i))

In [76]:
path[path.find('data/',)+5:path.find('.avi')]

'*'

# Generate CSV file with labels

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import openpyxl as px

import seaborn as sns
import matplotlib

import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats.stats import pearsonr

In [9]:
train= pd.ExcelFile("/Users/kamakshibansal/UCL/PROJECT/TOE_DATA/toe_marking/Metrics_10_plane_marking_SAB_master.xlsx")

In [15]:
train.sheet_names

['image scores', 'Questionnaire and OSATS']

In [10]:
df = train.parse("image scores")
df.head(15)

,subject ID,Unnamed: 1,View 1 ME 4C (TV),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,View 2 ME 2C,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,punter ID,mean criterion %,mean impression score
0,NaN,criterion number,criterion,Andy,Bruce,Sue,mean,NaN,criterion,Andy,...,Andy,Bruce,Sue,mean,NaN,mean criterion %,mean impression score,NaN,NaN,NaN
1,29jan16 no 1,1,0-15 deg rotation,1,1,1,1,NaN,85-95 deg rotation,1,...,1,1,1,1,NaN,NaN,NaN,29jan16 no 1,52.530864,1.733333
2,NaN,2,TV centred,0,0,0,0,NaN,LA and LV centred on screen,1,...,1,1,1,1,NaN,NaN,NaN,29jan16 no 2,59.753086,2.133333
3,NaN,3,no foreshortening,1,1,1,1,NaN,apex of LV seen,0,...,0,1,1,0.666667,NaN,NaN,NaN,29jan16 no 3,64.629630,1.966667
4,NaN,4,no LVOT in image,1,1,1,1,NaN,MV opening and coaptation seen,1,...,0,0,0,0,NaN,NaN,NaN,29jan16 no 4,57.098765,1.800000
5,NaN,5,probe tip appropriately behind LA,0,0,0,0,NaN,probe tip appropriately behind LA,0,...,0,1,0,0.333333,NaN,NaN,NaN,29jan16 no 6,67.098765,2.433333
6,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0.333333,NaN,NaN,NaN,29jan16 no 7,69.320988,2.233333
7,NaN,NaN,criteria total,3,3,3,3,NaN,criteria total,3,...,3,4,3,3.33333,NaN,NaN,NaN,29jan16 no 8,60.864198,2.100000
8,NaN,NaN,criteria %age,NaN,NaN,NaN,60,NaN,criteria %age,NaN,...,NaN,NaN,NaN,55.5556,NaN,52.5309,NaN,29jan16 no 9,77.530864,2.633333
9,NaN,NaN,GEN IMPRESSION SCORE 0-4,3,2,1,2,NaN,GEN IMPRESSION SCORE 0-4,3,...,2,2,1,1.66667,NaN,NaN,1.73333,29jan16 no10,61.851852,2.266667
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29jan16 no11,47.960000,2.033333
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29jan16 no12,71.543210,2.133333
12,subject ID,NaN,View 1 ME 4C (TV),NaN,NaN,NaN,NaN,NaN,View 2 ME 2C,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29jan16 no13,73.395062,2.433333
13,NaN,criterion number,criterion,Andy,Bruce,Sue,mean,NaN,criterion,Andy,...,Andy,Bruce,Sue,mean,NaN,NaN,NaN,29jan16 no14,61.419753,2.033333
14,29jan16 no 2,1,0-15 deg rotation,1,1,1,1,NaN,85-95 deg rotation,1,...,0,0,0,0,NaN,NaN,NaN,29jan16 no15,71.296296,2.533333

In [12]:
traincsv= pd.read_csv('/Users/kamakshibansal/UCL/PROJECT/labels_366.csv')

In [13]:
traincsv.head()

  Select_Id  Class  Criteria_Avg  Criteria_Pct  Gen_Impression
0        aa      1        5.0000       100.000          4.0000
1        aa      2        4.6667        93.333          3.3333
2        aa      3        5.0000       100.000          3.6667
3        aa      4        3.0000        75.000          3.0000
4        aa      5        4.3333        72.222          3.0000

In [14]:
# traincsv['Select_id_new'] = traincsv[['Select_Id', 'Class']].apply(lambda x: ''.join(x), axis=1)
traincsv['Select_id_new']= traincsv['Select_Id'].str.cat(traincsv['Class'].values.astype(str))

In [13]:
traincsv.head()

  Select_Id  Class  Criteria_Avg  Criteria_Pct  Gen_Impression Select_id_new
0        aa      1        5.0000       100.000          4.0000           aa1
1        aa      2        4.6667        93.333          3.3333           aa2
2        aa      3        5.0000       100.000          3.6667           aa3
3        aa      4        3.0000        75.000          3.0000           aa4
4        aa      5        4.3333        72.222          3.0000           aa5

In [15]:
train_new =traincsv.drop('Select_Id',axis=1)
# train_new

In [16]:
df2 = train_new.loc[np.repeat(train_new.index.values,44)]

In [17]:
df2.to_csv("New.csv", encoding='utf-8')

In [3]:
New2= pd.read_csv('/Users/kamakshibansal/UCL/PROJECT/New.csv')

In [79]:
# New2

In [4]:
N=43
# Num = pd.DataFrame([0,1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,], columns=['A'])
Num = pd.DataFrame({'A':range(0, N+1 ,1)})

In [5]:
V=366
Num_new =pd.concat([Num]*V, ignore_index=True)

In [80]:
# Num_new

In [6]:

# result = pd.concat([New2, Num_new])
New2['Number'] = Num_new['A']

In [84]:
# New2

In [7]:
New2['Select_id_final']= New2['Select_id_new'].str.cat(New2['Number'].values.astype(str), sep='_')
New2

,Class,Criteria_Avg,Criteria_Pct,Gen_Impression,Select_id_new,Number,Select_id_final
0,1,5.0000,100.000,4.0,aa1,0,aa1_0
1,1,5.0000,100.000,4.0,aa1,1,aa1_1
2,1,5.0000,100.000,4.0,aa1,2,aa1_2
3,1,5.0000,100.000,4.0,aa1,3,aa1_3
4,1,5.0000,100.000,4.0,aa1,4,aa1_4
5,1,5.0000,100.000,4.0,aa1,5,aa1_5
6,1,5.0000,100.000,4.0,aa1,6,aa1_6
7,1,5.0000,100.000,4.0,aa1,7,aa1_7
8,1,5.0000,100.000,4.0,aa1,8,aa1_8
9,1,5.0000,100.000,4.0,aa1,9,aa1_9
10,1,5.0000,100.000,4.0,aa1,10,aa1_10
11,1,5.0000,100.000,4.0,aa1,11,aa1_11
12,1,5.0000,100.000,4.0,aa1,12,aa1_12
13,1,5.0000,100.000,4.0,aa1,13,aa1_13
14,1,5.0000,100.000,4.0,aa1,14,aa1_14
15,1,5.0000,100.000,4.0,aa1,15,aa1_15
16,1,5.0000,100.000,4.0,aa1,16,aa1_16
17,1,5.0000,100.000,4.0,aa1,17,aa1_17
18,1,5.0000,100.000,4.0,aa1,18,aa1_18
19,1,5.0000,100.000,4.0,aa1,19,aa1_19
20,1,5.0000,100.000,4.0,aa1,20,aa1_20
21,1,5.0000,100.000,4.0,aa1,21,aa1_21
22,1,5.0000,100.000,4.0,aa1,22,aa1_22
23,1,5.0000,100.000,4.0,aa1,23,aa1_23
24,1,5.0000,100.000,4.0,aa1,24,aa1_24
25,1,5.0000,100.000,4.0,aa1,25,aa1_25
26,1,5.0000,100.000,4.0,aa1,26,aa1_26
27,1,5.0000,100.000,4.0,aa1,27,aa1_27
28,1,5.0000,100.000,4.0,aa1,28,aa1_28
29,1,5.0000,100.000,4.0,aa1,29,aa1_29
...,...,...,...,...,...,...,...
16074,10,2.3333,38.889,1.0,dn10,14,dn10_14
16075,10,2.3333,38.889,1.0,dn10,15,dn10_15
16076,10,2.3333,38.889,1.0,dn10,16,dn10_16
16077,10,2.3333,38.889,1.0,dn10,17,dn10_17
16078,10,2.3333,38.889,1.0,dn10,18,dn10_18
16079,10,2.3333,38.889,1.0,dn10,19,dn10_19
16080,10,2.3333,38.889,1.0,dn10,20,dn10_20
16081,10,2.3333,38.889,1.0,dn10,21,dn10_21
16082,10,2.3333,38.889,1.0,dn10,22,dn10_22
16083,10,2.3333,38.889,1.0,dn10,23,dn10_23
16084,10,2.3333,38.889,1.0,dn10,24,dn10_24
16085,10,2.3333,38.889,1.0,dn10,25,dn10_25
16086,10,2.3333,38.889,1.0,dn10,26,dn10_26
16087,10,2.3333,38.889,1.0,dn10,27,dn10_27
16088,10,2.3333,38.889,1.0,dn10,28,dn10_28
16089,10,2.3333,38.889,1.0,dn10,29,dn10_29
16090,10,2.3333,38.889,1.0,dn10,30,dn10_30
16091,10,2.3333,38.889,1.0,dn10,31,dn10_31
16092,10,2.3333,38.889,1.0,dn10,32,dn10_32
16093,10,2.3333,38.889,1.0,dn10,33,dn10_33
16094,10,2.3333,38.889,1.0,dn10,34,dn10_34
16095,10,2.3333,38.889,1.0,dn10,35,dn10_35
16096,10,2.3333,38.889,1.0,dn10,36,dn10_36
16097,10,2.3333,38.889,1.0,dn10,37,dn10_37
16098,10,2.3333,38.889,1.0,dn10,38,dn10_38
16099,10,2.3333,38.889,1.0,dn10,39,dn10_39
16100,10,2.3333,38.889,1.0,dn10,40,dn10_40
16101,10,2.3333,38.889,1.0,dn10,41,dn10_41
16102,10,2.3333,38.889,1.0,dn10,42,dn10_42
16103,10,2.3333,38.889,1.0,dn10,43,dn10_43

In [8]:
New2['Select_id_final'] = '/home/emazomen/original_data_frames/'+ New2['Select_id_final'].astype(str) + '.jpg'
New2 = New2[['Select_id_final', 'Class','Criteria_Avg', 'Criteria_Pct','Gen_Impression', 'Select_id_new', 'Number']]

In [9]:
New2

,Select_id_final,Class,Criteria_Avg,Criteria_Pct,Gen_Impression,Select_id_new,Number
0,/home/emazomen/original_data_frames/aa1_0.jpg,1,5.0000,100.000,4.0,aa1,0
1,/home/emazomen/original_data_frames/aa1_1.jpg,1,5.0000,100.000,4.0,aa1,1
2,/home/emazomen/original_data_frames/aa1_2.jpg,1,5.0000,100.000,4.0,aa1,2
3,/home/emazomen/original_data_frames/aa1_3.jpg,1,5.0000,100.000,4.0,aa1,3
4,/home/emazomen/original_data_frames/aa1_4.jpg,1,5.0000,100.000,4.0,aa1,4
5,/home/emazomen/original_data_frames/aa1_5.jpg,1,5.0000,100.000,4.0,aa1,5
6,/home/emazomen/original_data_frames/aa1_6.jpg,1,5.0000,100.000,4.0,aa1,6
7,/home/emazomen/original_data_frames/aa1_7.jpg,1,5.0000,100.000,4.0,aa1,7
8,/home/emazomen/original_data_frames/aa1_8.jpg,1,5.0000,100.000,4.0,aa1,8
9,/home/emazomen/original_data_frames/aa1_9.jpg,1,5.0000,100.000,4.0,aa1,9
10,/home/emazomen/original_data_frames/aa1_10.jpg,1,5.0000,100.000,4.0,aa1,10
11,/home/emazomen/original_data_frames/aa1_11.jpg,1,5.0000,100.000,4.0,aa1,11
12,/home/emazomen/original_data_frames/aa1_12.jpg,1,5.0000,100.000,4.0,aa1,12
13,/home/emazomen/original_data_frames/aa1_13.jpg,1,5.0000,100.000,4.0,aa1,13
14,/home/emazomen/original_data_frames/aa1_14.jpg,1,5.0000,100.000,4.0,aa1,14
15,/home/emazomen/original_data_frames/aa1_15.jpg,1,5.0000,100.000,4.0,aa1,15
16,/home/emazomen/original_data_frames/aa1_16.jpg,1,5.0000,100.000,4.0,aa1,16
17,/home/emazomen/original_data_frames/aa1_17.jpg,1,5.0000,100.000,4.0,aa1,17
18,/home/emazomen/original_data_frames/aa1_18.jpg,1,5.0000,100.000,4.0,aa1,18
19,/home/emazomen/original_data_frames/aa1_19.jpg,1,5.0000,100.000,4.0,aa1,19
20,/home/emazomen/original_data_frames/aa1_20.jpg,1,5.0000,100.000,4.0,aa1,20
21,/home/emazomen/original_data_frames/aa1_21.jpg,1,5.0000,100.000,4.0,aa1,21
22,/home/emazomen/original_data_frames/aa1_22.jpg,1,5.0000,100.000,4.0,aa1,22
23,/home/emazomen/original_data_frames/aa1_23.jpg,1,5.0000,100.000,4.0,aa1,23
24,/home/emazomen/original_data_frames/aa1_24.jpg,1,5.0000,100.000,4.0,aa1,24
25,/home/emazomen/original_data_frames/aa1_25.jpg,1,5.0000,100.000,4.0,aa1,25
26,/home/emazomen/original_data_frames/aa1_26.jpg,1,5.0000,100.000,4.0,aa1,26
27,/home/emazomen/original_data_frames/aa1_27.jpg,1,5.0000,100.000,4.0,aa1,27
28,/home/emazomen/original_data_frames/aa1_28.jpg,1,5.0000,100.000,4.0,aa1,28
29,/home/emazomen/original_data_frames/aa1_29.jpg,1,5.0000,100.000,4.0,aa1,29
...,...,...,...,...,...,...,...
16074,/home/emazomen/original_data_frames/dn10_14.jpg,10,2.3333,38.889,1.0,dn10,14
16075,/home/emazomen/original_data_frames/dn10_15.jpg,10,2.3333,38.889,1.0,dn10,15
16076,/home/emazomen/original_data_frames/dn10_16.jpg,10,2.3333,38.889,1.0,dn10,16
16077,/home/emazomen/original_data_frames/dn10_17.jpg,10,2.3333,38.889,1.0,dn10,17
16078,/home/emazomen/original_data_frames/dn10_18.jpg,10,2.3333,38.889,1.0,dn10,18
16079,/home/emazomen/original_data_frames/dn10_19.jpg,10,2.3333,38.889,1.0,dn10,19
16080,/home/emazomen/original_data_frames/dn10_20.jpg,10,2.3333,38.889,1.0,dn10,20
16081,/home/emazomen/original_data_frames/dn10_21.jpg,10,2.3333,38.889,1.0,dn10,21
16082,/home/emazomen/original_data_frames/dn10_22.jpg,10,2.3333,38.889,1.0,dn10,22
16083,/home/emazomen/original_data_frames/dn10_23.jpg,10,2.3333,38.889,1.0,dn10,23
16084,/home/emazomen/original_data_frames/dn10_24.jpg,10,2.3333,38.889,1.0,dn10,24
16085,/home/emazomen/original_data_frames/dn10_25.jpg,10,2.3333,38.889,1.0,dn10,25
16086,/home/emazomen/original_data_frames/dn10_26.jpg,10,2.3333,38.889,1.0,dn10,26
16087,/home/emazomen/original_data_frames/dn10_27.jpg,10,2.3333,38.889,1.0,dn10,27
16088,/home/emazomen/original_data_frames/dn10_28.jpg,10,2.3333,38.889,1.0,dn10,28
16089,/home/emazomen/original_data_frames/dn10_29.jpg,10,2.3333,38.889,1.0,dn10,29
16090,/home/emazomen/original_data_frames/dn10_30.jpg,10,2.3333,38.889,1.0,dn10,30
16091,/home/emazomen/original_data_frames/dn10_31.jpg,10,2.3333,38.889,1.0,dn10,31
16092,/home/emazomen/original_data_frames/dn10_32.jpg,10,2.3333,38.889,1.0,dn10,32
16093,/home/emazomen/original_data_frames/dn10_33.jpg,10,2.3333,38.889,1.0,dn10,33
16094,/home/emazomen/original_data_frames/dn10_34.jpg,10,2.3333,38.889,1.0,dn10,34
16095,/home/emazomen/original_data_frames/dn10_35.jpg,10,2.3333,38.889,1.0,dn10,35
16096,/home/emazomen/original_data_frames/dn10_36.jpg,10,2.3333,38.889,1.0,dn10,36
16097,/home/emazomen/original_data_frames/dn10_37.jpg,10,2.3333,38.889,1.0,dn10,37
16098,/home/emazomen/original_data_frames/dn10_38.jpg,10,2.3333,38.889,1.0,dn10,38
16099,/home/emazomen/original_data_frames/dn10_39.jpg,10,2.3333,38.889,1.0,dn10,39
16100,/home/emazomen/original_data_frames/dn10_40.jpg,10,2.3333,38.889,1.0,dn10,40
16101,/home/emazomen/original_data_frames/dn10_41.jpg,10,2.3333,38.889,1.0,dn10,41
16102,/home/emazomen/original_data_frames/dn10_42.jpg,10,2.3333,38.889,1.0,dn10,42
16103,/home/emazomen/original_data_frames/dn10_43.jpg,10,2.3333,38.889,1.0,dn10,43

In [10]:
Final_Labels366=New2.drop(['Select_id_new','Number'], axis=1)
Final_Labels366.to_csv("Final_Labels366_with_address_cluster.csv", encoding='utf-8')

# Code for Shuffling data

In [2]:
initial= pd.read_csv("/Users/kamakshibansal/UCL/PROJECT/train_32people_copy.csv")
random = initial.sample(frac=1)
random.to_csv("train_Labels366_Vgg.csv", encoding='utf-8')

In [15]:
msk = np.random.rand(len(random)) <= 0.8

train = random[msk]
test = random[~msk]

In [16]:
train.to_csv("train_Labels366_cluster.csv", encoding='utf-8')

# Code for quantizing crietria percentage score

In [17]:
test.to_csv("test_Labels366_cluster.csv", encoding='utf-8')

In [38]:
import numpy as np

X=[0,20,40,60,80,100]
Y=[0,100/6, 200/6, 50, 400/6, 500/6, 100]
Z=[0,25,50,75,100]


Score_5_cri= []
Score_6_cri= []
Score_4_cri= []

for x in X:
    for j in X:
        for i in X:
            k=(i+j+x)/3
            Score_5_cri.append(k)
            
            
for x in Y:
    for j in Y:
        for i in Y:
            h=(i+j+x)/3
            Score_6_cri.append(h)  

            
for x in Z:
    for j in Z:
        for i in Z:
            k=(i+j+x)/3
            Score_4_cri.append(k)            

Score_4_cri.sort()
Score_4= np.unique(Score_4_cri)

Score_5_cri.sort()
Score_5= np.unique(Score_5_cri)

Score_6_cri.sort()
Score_6=np.unique(Score_6_cri)


def find_nearest(array,value):
    idx = (np.abs(array-value)).argmin()
    return array[idx]

def Score_processing(clas, value):
    
    if (clas==1 or clas==2 or clas==3 or clas==6 or clas==8 or clas==9):
        correct_val= find_nearest(Score_5, value)
    elif (clas==5 or clas==10):
        correct_val= find_nearest(Score_6, value)
    else:
        correct_val= find_nearest(Score_4, value)
        
    return correct_val 


file=pd.read_csv("/Users/kamakshibansal/UCL/PROJECT/Predicted_from_Alex.csv")
correct_val=[]
for clas, Criteria_Pct in file[['Class','Criteria_Pct']].values:
    correct= Score_processing(clas, Criteria_Pct)
    correct_val.append(correct)
    
file["Rectified_value"]= correct_val 
file.to_csv("Corrected_Predicted_from_Alex.csv", encoding='utf-8')

In [43]:
Score_4
# a=np.unique(Score_4_cri)
# a

array([   0.        ,    8.33333333,   16.66666667,   25.        ,
         33.33333333,   41.66666667,   50.        ,   58.33333333,
         66.66666667,   75.        ,   83.33333333,   91.66666667,  100.        ])

In [46]:
def find_nearest(array,value):
    idx = (np.abs(array-value)).argmin()
    return array[idx]

value = 14.8

print(find_nearest(Score_4, value))

16.6666666667

In [41]:
Score_5

array([   0.        ,    6.66666667,   13.33333333,   20.        ,
         26.66666667,   33.33333333,   40.        ,   46.66666667,
         53.33333333,   60.        ,   66.66666667,   73.33333333,
         80.        ,   86.66666667,   93.33333333,  100.        ])

In [42]:
Score_6

array([   0.        ,    5.55555556,   11.11111111,   16.66666667,
         22.22222222,   27.77777778,   27.77777778,   33.33333333,
         38.88888889,   38.88888889,   44.44444444,   44.44444444,
         50.        ,   50.        ,   55.55555556,   55.55555556,
         61.11111111,   61.11111111,   66.66666667,   66.66666667,
         72.22222222,   72.22222222,   77.77777778,   77.77777778,
         83.33333333,   88.88888889,   88.88888889,   94.44444444,  100.        ])

In [60]:
test= pd.read_csv("/Users/kamakshibansal/UCL/PROJECT/test_Labels366.csv")
predicted= pd.DataFrame()
predicted["Select_id"]= test["Select_id_final"]
predicted["arr"]=l

In [69]:
file=pd.read_csv("/Users/kamakshibansal/UCL/PROJECT/Predicted_from_Alex.csv")
file

,Unnamed: 0,Select_id,Class,Criteria_Pct,Gen_Impression
0,0,/Users/kamakshibansal/UCL/PROJECT/original_dat...,8.0,69.262627,2.905869
1,1,/Users/kamakshibansal/UCL/PROJECT/original_dat...,9.0,81.089653,2.597969
2,2,/Users/kamakshibansal/UCL/PROJECT/original_dat...,1.0,74.487991,2.585513
3,3,/Users/kamakshibansal/UCL/PROJECT/original_dat...,5.0,27.849775,1.016901
4,4,/Users/kamakshibansal/UCL/PROJECT/original_dat...,5.0,92.723045,3.078243
5,5,/Users/kamakshibansal/UCL/PROJECT/original_dat...,6.0,96.035492,4.049515
6,6,/Users/kamakshibansal/UCL/PROJECT/original_dat...,6.0,27.822189,0.915606
7,7,/Users/kamakshibansal/UCL/PROJECT/original_dat...,6.0,53.469749,2.042193
8,8,/Users/kamakshibansal/UCL/PROJECT/original_dat...,3.0,60.961048,2.796364
9,9,/Users/kamakshibansal/UCL/PROJECT/original_dat...,4.0,15.422182,1.675780
10,10,/Users/kamakshibansal/UCL/PROJECT/original_dat...,7.0,100.000000,3.091718
11,11,/Users/kamakshibansal/UCL/PROJECT/original_dat...,9.0,47.002644,1.332558
12,12,/Users/kamakshibansal/UCL/PROJECT/original_dat...,9.0,53.920952,1.404373
13,13,/Users/kamakshibansal/UCL/PROJECT/original_dat...,5.0,98.052162,3.200577
14,14,/Users/kamakshibansal/UCL/PROJECT/original_dat...,1.0,49.642776,1.933319
15,15,/Users/kamakshibansal/UCL/PROJECT/original_dat...,6.0,46.881306,2.871647
16,16,/Users/kamakshibansal/UCL/PROJECT/original_dat...,5.0,88.332253,3.086645
17,17,/Users/kamakshibansal/UCL/PROJECT/original_dat...,7.0,32.565250,1.638722
18,18,/Users/kamakshibansal/UCL/PROJECT/original_dat...,3.0,87.220703,3.209176
19,19,/Users/kamakshibansal/UCL/PROJECT/original_dat...,3.0,93.353104,3.706757

In [73]:

def Score_processing(clas, value):
    
    if (clas==1 or clas==2 or clas==3 or clas==6 or clas==8 or clas==9):
        correct_val= find_nearest(Score_5, value)
    elif (clas==5 or clas==10):
        correct_val= find_nearest(Score_6, value)
    else:
        correct_val= find_nearest(Score_4, value)
        
    return correct_val

In [77]:
Score_processing(5, 98.052162)

100.0

In [86]:
correct_val=[]
for clas, Criteria_Pct in file[['Class','Criteria_Pct']].values:
    correct= Score_processing(clas, Criteria_Pct)
    correct_val.append(correct)

In [88]:
file["Rectified_value"]= correct_val

In [90]:
file.to_csv("Corrected_Predicted_from_Alex.csv", encoding='utf-8')